@model DashViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hello, @Model.user.Username</h1>
    <a href="/logout">Log out</a>

    <form action="/post-message" method="post">
        <div class="form-group">
            <label>message</label>
            <input type="text" name="Message">
        </div>
        <input type="submit">
    </form>
    @{
        foreach(var message in Model.posts) {
            <h1>@message.User.Username</h1>
            <h2>@message.Message</h2>
        }
    }
</body>
</html>